<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hao.texdojo.bibeditor.editors.BibEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="bib"
            icon="icons/bib_icon.png"
            id="hao.texdojo.bibeditor.editors.BibEditor"
            name="BibTex Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="hao.texdojo.bibeditor.commands.category"
            name="BibTex Editor Category">
      </category>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.addEntryCommand"
            name="&amp;Add Entry">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.removeEntryCommand"
            name="&amp;Remove Entry">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.copyCiteCommand"
            name="&amp;Copy Cite Command">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.searchPdfCommand"
            name="Search &amp;Google for PDF file">
      </command>
      <command
            id="hao.texdojo.bibeditor.commands.findCommand"
            name="Find By &amp;Keyword">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.copyEntryCommand"
            name="Copy Entry">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.pasteEntryCommand"
            name="Paste Entry">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.arxivEntryCommand"
            name="Add Article from ArXiv">
      </command>
      <command
            categoryId="hao.texdojo.bibeditor.commands.category"
            id="hao.texdojo.bibeditor.commands.acmdlEntryCommand"
            name="Add Article from ACM DL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hao.texdojo.bibeditor.handlers.AddEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.addEntryCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.RemoveEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.removeEntryCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.CopyCiteHandler"
            commandId="hao.texdojo.bibeditor.commands.copyCiteCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.SearchPdfHandler"
            commandId="hao.texdojo.bibeditor.commands.searchPdfCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.FindKeywordHandler"
            commandId="hao.texdojo.bibeditor.commands.findCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.CopyEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.copyEntryCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.PasteEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.pasteEntryCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.ArxivEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.arxivEntryCommand">
      </handler>
      <handler
            class="hao.texdojo.bibeditor.handlers.ACMDLEntryHandler"
            commandId="hao.texdojo.bibeditor.commands.acmdlEntryCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="hao.texdojo.bibeditor.commands.findCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="hao.texdojo.bibeditor.commands.removeEntryCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
      <key
            commandId="hao.texdojo.bibeditor.commands.copyCiteCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="hao.texdojo.bibeditor.commands.searchPdfCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+S">
      </key>
      <key
            commandId="hao.texdojo.bibeditor.commands.copyEntryCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="hao.texdojo.bibeditor.commands.pasteEntryCommand"
            contextId="hao.texdojo.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="hao.texdojo.bibeditor.menus.mainMenu"
               label="BibTex Editor"
               mnemonic="M">
            <command
                  commandId="hao.texdojo.bibeditor.commands.addEntryCommand"
                  icon="icons/toolbar_plus.gif"
                  id="hao.texdojo.bibeditor.menus.addEntryCommand"
                  label="Add BibTex Entry"
                  mnemonic="S">
            </command>
            <command
                  commandId="hao.texdojo.bibeditor.commands.removeEntryCommand"
                  icon="icons/toolbar_minus.gif"
                  id="hao.texdojo.bibeditor.menus.removeEntryCommand"
                  label="Remove BibTex Entry"
                  style="push">
            </command>
         </menu>
      </menuContribution-->
      <!--menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="hao.texdojo.bibeditor.toolbars.mainToolbar">
            <command
                  commandId="hao.texdojo.bibeditor.commands.addEntryCommand"
                  icon="icons/toolbar_plus.gif"
                  id="hao.texdojo.bibeditor.toolbars.addEntryCommand"
                  label="Add BibTex Entry"
                  style="push"
                  tooltip="Add BibTex Entry">
            </command>
            <command
                  commandId="hao.texdojo.bibeditor.commands.removeEntryCommand"
                  icon="icons/toolbar_minus.gif"
                  id="hao.texdojo.bibeditor.toolbars.addEntryCommand"
                  label="Remove BibTex Entry"
                  style="push"
                  tooltip="Remove BibTex Entry">
            </command>
         </toolbar>
      </menuContribution-->
      <menuContribution
            allPopups="true"
            locationURI="popup:hao.texdojo.bibeditor.editors.BibEditor?after=additions">
         <command
               commandId="hao.texdojo.bibeditor.commands.addEntryCommand"
               label="&amp;Add BibTex Entry"
               style="push">
         </command>
         <command
               commandId="hao.texdojo.bibeditor.commands.arxivEntryCommand"
               label="Add Article from ArXiv"
               style="push">
         </command>
         <command
               commandId="hao.texdojo.bibeditor.commands.removeEntryCommand"
               label="&amp;Remove BibTex Entry"
               style="push">
         </command>
         <command
               commandId="hao.texdojo.bibeditor.commands.copyCiteCommand"
               label="Copy &amp;Cite Command"
               style="push">
         </command>
         <command
               commandId="hao.texdojo.bibeditor.commands.searchPdfCommand"
               label="Search &amp;Google for PDF files"
               style="push">
         </command>
         <command
               commandId="hao.texdojo.bibeditor.commands.findCommand"
               label="Find By &amp;Keyword"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="hao.texdojo.bibeditor.toolbar.main">
            <command
                  commandId="hao.texdojo.bibeditor.commands.searchPdfCommand"
                  icon="icons/toolbar_google.png"
                  label="Search &amp;Google for PDF files"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="hao.texdojo.bibeditor.definitions.bibEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="hao.texdojo.bibeditor.commands.arxivEntryCommand"
                  icon="icons/arxiv_icon.png"
                  label="Add Article from ArXiv"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="hao.texdojo.bibeditor.definitions.bibEditorActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="hao.texdojo.bibeditor.commands.acmdlEntryCommand"
                  icon="icons/acmdl_icon.png"
                  label="Add Article from ACM DL"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="hao.texdojo.bibeditor.definitions.bibEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension
  point="org.eclipse.core.expressions.definitions">
  <definition
    id="hao.texdojo.bibeditor.definitions.bibEditorActive">
    <with
      variable="activeEditorId">
      <equals
                        value="hao.texdojo.bibeditor.editors.BibEditor">
                  </equals>
    </with>
  </definition>
</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="hao.texdojo.preferences.PreferencePage"
            class="hao.texdojo.bibeditor.preferences.BibEditorPreferencePage"
            id="hao.texdojo.bibeditor.preferences.BibEditorPreferencePage"
            name="BibTeX Editor">
      </page>
      <page
            class="hao.texdojo.bibeditor.preferences.TeXDojoPreferencePage"
            id="hao.texdojo.preferences.PreferencePage"
            name="TeXDojo">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="hao.texdojo.bibeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="hao.texdojo.bibeditor.editorContext"
            name="TeXDojo BibTex Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
