<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.uchicago.cs.hao.bibeditor.editors.BibEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="bib"
            icon="icons/bib_icon.png"
            id="edu.uchicago.cs.hao.bibeditor.editors.BibEditor"
            name="BibTex Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.uchicago.cs.hao.bibeditor.commands.category"
            name="BibTex Editor Category">
      </category>
      <command
            categoryId="edu.uchicago.cs.hao.bibeditor.commands.category"
            id="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand"
            name="&amp;Add BibTex Entry">
      </command>
      <command
            categoryId="edu.uchicago.cs.hao.bibeditor.commands.category"
            id="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand"
            name="&amp;Remove BibTex Entry">
      </command>
      <command
            categoryId="edu.uchicago.cs.hao.bibeditor.commands.category"
            id="edu.uchicago.cs.hao.bibeditor.commands.copyCiteCommand"
            name="&amp;Copy Cite Command">
      </command>
      <command
            categoryId="edu.uchicago.cs.hao.bibeditor.commands.category"
            id="edu.uchicago.cs.hao.bibeditor.commands.searchPdfCommand"
            name="Search &amp;Google for PDF file">
      </command>
      <command
            id="edu.uchicago.cs.hao.bibeditor.commands.findCommand"
            name="Find By &amp;Keyword">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.uchicago.cs.hao.bibeditor.handlers.AddEntryHandler"
            commandId="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand">
      </handler>
      <handler
            class="edu.uchicago.cs.hao.bibeditor.handlers.RemoveEntryHandler"
            commandId="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand">
      </handler>
      <handler
            class="edu.uchicago.cs.hao.bibeditor.handlers.CopyCiteHandler"
            commandId="edu.uchicago.cs.hao.bibeditor.commands.copyCiteCommand">
      </handler>
      <handler
            class="edu.uchicago.cs.hao.bibeditor.handlers.SearchPdfHandler"
            commandId="edu.uchicago.cs.hao.bibeditor.commands.searchPdfCommand">
      </handler>
      <handler
            class="edu.uchicago.cs.hao.bibeditor.handlers.FindKeywordHandler"
            commandId="edu.uchicago.cs.hao.bibeditor.commands.findCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.uchicago.cs.hao.bibeditor.commands.findCommand"
            contextId="edu.uchicago.cs.hao.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand"
            contextId="edu.uchicago.cs.hao.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand"
            contextId="edu.uchicago.cs.hao.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
      <key
            commandId="edu.uchicago.cs.hao.bibeditor.commands.copyCiteCommand"
            contextId="edu.uchicago.cs.hao.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="edu.uchicago.cs.hao.bibeditor.commands.searchPdfCommand"
            contextId="edu.uchicago.cs.hao.bibeditor.editorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="edu.uchicago.cs.hao.bibeditor.menus.mainMenu"
               label="BibTex Editor"
               mnemonic="M">
            <command
                  commandId="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand"
                  icon="icons/toolbar_plus.gif"
                  id="edu.uchicago.cs.hao.bibeditor.menus.addEntryCommand"
                  label="Add BibTex Entry"
                  mnemonic="S">
            </command>
            <command
                  commandId="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand"
                  icon="icons/toolbar_minus.gif"
                  id="edu.uchicago.cs.hao.bibeditor.menus.removeEntryCommand"
                  label="Remove BibTex Entry"
                  style="push">
            </command>
         </menu>
      </menuContribution-->
      <!--menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.uchicago.cs.hao.bibeditor.toolbars.mainToolbar">
            <command
                  commandId="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand"
                  icon="icons/toolbar_plus.gif"
                  id="edu.uchicago.cs.hao.bibeditor.toolbars.addEntryCommand"
                  label="Add BibTex Entry"
                  style="push"
                  tooltip="Add BibTex Entry">
            </command>
            <command
                  commandId="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand"
                  icon="icons/toolbar_minus.gif"
                  id="edu.uchicago.cs.hao.bibeditor.toolbars.addEntryCommand"
                  label="Remove BibTex Entry"
                  style="push"
                  tooltip="Remove BibTex Entry">
            </command>
         </toolbar>
      </menuContribution-->
      <menuContribution
            allPopups="true"
            locationURI="popup:edu.uchicago.cs.hao.bibeditor.editors.BibEditor?after=additions">
         <command
               commandId="edu.uchicago.cs.hao.bibeditor.commands.addEntryCommand"
               label="&amp;Add BibTex Entry"
               style="push">
         </command>
         <command
               commandId="edu.uchicago.cs.hao.bibeditor.commands.removeEntryCommand"
               label="&amp;Remove BibTex Entry"
               style="push">
         </command>
         <command
               commandId="edu.uchicago.cs.hao.bibeditor.commands.copyCiteCommand"
               label="Copy &amp;Cite Command"
               style="push">
         </command>
         <command
               commandId="edu.uchicago.cs.hao.bibeditor.commands.searchPdfCommand"
               label="Search &amp;Google for PDF files"
               style="push">
         </command>
         <command
               commandId="edu.uchicago.cs.hao.bibeditor.commands.findCommand"
               label="Find By &amp;Keyword"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.uchicago.cs.hao.bibeditor.preferences.BibEditorPreferencePage"
            id="edu.uchicago.cs.hao.bibeditor.preferences.BibEditorPreferencePage"
            name="BibTex Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.uchicago.cs.hao.bibeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="edu.uchicago.cs.hao.bibeditor.editorContext"
            name="BibTex Editor Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
