<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LaTeX Editor"
            extensions="tex"
            icon="icons/tex_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.editors.LaTeXEditor"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.editors.XMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.uchicago.cs.hao.texdojo.preferences.PreferencePage"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            name="LaTeX Editor">
      </page>
      <page
            category="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.TempFilePreferencePage"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.TempFilePreferencePage"
            name="Temp Files">
      </page>
      <page
            category="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.ColorPreferencePage"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.ColorPreferencePage"
            name="Syntax Color">
      </page>
      <page
            category="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.TextPreferencePage"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.TextPreferencePage"
            name="Text Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXBuilder"
         name="LaTeX Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="edu.uchicago.cs.hao.texdojo.latexeditor.project.LaTeXBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXNature"
         name="LaTeX Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="edu.uchicago.cs.hao.texdojo.latexeditor.project.LaTeXNature">
         </run>
      </runtime>
      <builder
            id="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.uchicago.cs.hao.texdojo.latexeditor.categories.LaTeXNature"
            name="LaTeX Project Nature commands">
      </category>
      <command
            categoryId="edu.uchicago.cs.hao.texdojo.latexeditor.categories.LaTeXNature"
            defaultHandler="edu.uchicago.cs.hao.texdojo.latexeditor.project.AddRemoveLaTeXNatureHandler"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.commands.addRemoveLaTeXNature"
            name="Add/RemoveLaTeX Project Nature">
      </command>
      <command
            categoryId="edu.uchicago.cs.hao.texdojo.latexeditor.categories.OutlineButton"
            defaultHandler="edu.uchicago.cs.hao.texdojo.latexeditor.editors.outline.ViewFiguresHandler"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.commands.viewFigure"
            name="View Figures/Tables">
      </command>
      <category
            id="edu.uchicago.cs.hao.texdojo.latexeditor.categories.OutlineButton"
            name="LaTeX Editor Outline">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="edu.uchicago.cs.hao.texdojo.latexeditor.commands.addRemoveLaTeXNature"
               label="Disable LaTeX builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="edu.uchicago.cs.hao.texdojo.latexeditor.commands.addRemoveLaTeXNature"
               label="Enable LaTeX builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.views.ContentOutline?after=additions">
         <command
               commandId="edu.uchicago.cs.hao.texdojo.latexeditor.commands.viewFigure"
               icon="icons/figure_icon.png"
               label="View Figures/Tables"
               style="toggle">
         </command>
      </menuContribution>
      <!--menuContribution
            locationURI="menu:org.eclipse.ui.views.ContentOutline?after=additions">
         <command
               commandId="edu.uchicago.cs.hao.texdojo.latexeditor.commands.viewFigure"
               icon="icons/figure_icon.png"
               label="View Figures/Tables"
               style="toggle">
         </command>
      </menuContribution-->
   </extension>
   <extension
         id="edu.uchicago.cs.hao.texdojo.latexeditor.LaTeXProblem"
         name="LaTeX Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
