<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LaTeX Editor"
            extensions="tex"
            icon="icons/tex_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.editors.LaTeXEditor"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.editors.XMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.uchicago.cs.hao.texdojo.preferences.PreferencePage"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.LaTeXEditorPreferencePage"
            name="LaTeX Editor Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.uchicago.cs.hao.texdojo.latexeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
