<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LaTeX Editor"
            extensions="tex"
            icon="icons/tex_icon.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="edu.uchicago.cs.hao.texdojo.latexeditor.editors.LaTeXEditor"
            id="edu.uchicago.cs.hao.texdojo.latexeditor.editors.XMLEditor">
      </editor>
   </extension>

</plugin>
